SUBSYSTEM=="video4linux", ENV{ID_V4L_PRODUCT}=="vi-output, DS5 mux 60-001a", SYMLINK+="realsense1_depth"
SUBSYSTEM=="video4linux", ENV{ID_V4L_PRODUCT}=="vi-output, DS5 mux 61-001a", SYMLINK+="realsense1_rgb"
SUBSYSTEM=="video4linux", ENV{ID_V4L_PRODUCT}=="vi-output, DS5 mux 62-001a", SYMLINK+="realsense1_ir_left"
SUBSYSTEM=="video4linux", ENV{ID_V4L_PRODUCT}=="vi-output, DS5 mux 63-001a", SYMLINK+="realsense1_ir_right"

SUBSYSTEM=="video4linux", ENV{ID_V4L_PRODUCT}=="vi-output, DS5 mux 64-001b", SYMLINK+="realsense2_depth"
SUBSYSTEM=="video4linux", ENV{ID_V4L_PRODUCT}=="vi-output, DS5 mux 65-001b", SYMLINK+="realsense2_rgb"
SUBSYSTEM=="video4linux", ENV{ID_V4L_PRODUCT}=="vi-output, DS5 mux 66-001b", SYMLINK+="realsense2_ir_left"
SUBSYSTEM=="video4linux", ENV{ID_V4L_PRODUCT}=="vi-output, DS5 mux 67-001b", SYMLINK+="realsense2_ir_right"